@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap');

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

header {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 822px;
    background-image: url('assets/background-header.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.project {
    position: absolute;
    top: 45px;
    left: 10%;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 40;
}

nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 49px;
    width: 100%;
    /* background-color: #39C2D7; */
}

.nav-s {
    list-style-type: none;
    width: 35%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #da2121; */
}

.nav-s a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.nav-s a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav-s a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
  
/* .nav-s a:target::before {
    visibility: visible;
    transform: scaleX(1);
} */

.nav-s li {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 10px;
}

.Hero__block {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.Hero__block h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    width: 386px;
    height: 118px;
    margin-top: 13px;
    margin-bottom: 42px;
}

.Hero__block h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
}

.Main {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    color: #000;
    background-color: #EEEEEE;
    z-index: -1;
}

.Main h2 {
    width: 56%;
    /* height: 119px; */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
    margin-top: 87px;
    margin-bottom: 40px;
}

.Main h3 {
    width: 426px;
    height: 57px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    margin-bottom: 48px;
}

.Main .Main__Lorem {
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 768px;
    /* height: 194px; */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
    z-index: 3;
    /* background-color: aqua; */
}

.Main .Main__Lorem p:nth-child(1) {
    /* padding: 10px; */
    width: 408px ;
}

.Main .Main__Lorem p:nth-child(2) {
    /* padding: 10px; */
    width: 416px ;
}

.Main button {
    background: #55C2D8;
    border-radius: 18px;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;   
    text-transform: uppercase;
    padding: 5px 17px 6px 18px;
    border: none;
    margin-top: 22px;
    margin-bottom: 98px;
    cursor: pointer;
}

.Learn-more {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    /* height: 666px; */
    color: #fff;
    background-image: url('assets/background-learn.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Learn-more h2 {
    width: 480px;
    height: 117px;    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin-top: 84px;
    margin-bottom: 53px;
}

.Learn-more button {
    width: 150px;
    height: 150px;   
    font-size: 70px;
    background: #39C2D7;
    border-radius: 50%;
    color: #FFFFFF;
    border: none;
    padding-left: 15px;
    cursor: pointer;
}

.Learn-more h3 {
    width: 410px;
    height: 102px;    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 90px;
}

footer {
    width: 100%;
    height: 170px;
    background: #464547;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-family: 'Source Sans Pro';
    padding-top: 39px;
    padding-left: 153px;
    padding-right: 153px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
}

footer p span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 16px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer .col-1{
    grid-column: 1/2;
}

footer .col-3{
    grid-column: 3/4;
}

footer .col-6{
    grid-column: 6/8;
}

footer .row-1{
    grid-row: 1/2;
}

footer .row-2{
    grid-row: 2/3;
}


@media (max-width: 768px) {
    .Main h2 {
        padding: 0px 70px 0px 70px;
    }

    .Main .Main__Lorem {
        flex-direction: column;
        align-items: center;
    }

    .Hero__block h1,
    .Hero__block h2,
    .Main h2, 
    .Main h3, 
    .Main .Main__Lorem,
    .Main .Main__Lorem p:nth-child(1),
    .Main .Main__Lorem p:nth-child(2),
    .Learn-more h3{
        width: 100%;
    }

    .Main .Main__Lorem p:nth-child(1),
    .Main .Main__Lorem p:nth-child(2) {
        padding: 20px;
    }

    .Learn-more h2 {
        width: auto;
    }


    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 293px;
        padding: 56px 0 0px 0px;
    }

    footer p:nth-child(2) {
        margin: 31px 0px 18px 0px;
    }

    footer a {
        margin-bottom: 19px;
    }


    /* ---- TOGGLE ------ */

    .nav-s {
        display: none;
    }
    
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        color: #fff;
        width: 22px;
        height: 15px;
        position: absolute; 
        top: 40px;
        right: 20px;
    }

    .line {
        width: 100%;
        border-radius: 2px;
        height: 2px;
        background-color: #fff;
    }
    
    .nav-dropdown {
        display: none;
        background-color: #333;
        padding: 10px 0;
        overflow: hidden;
        position: absolute; 
        top: 30px;
        right: 30px;
    }
    
    .nav-dropdown a {
      display: block;
      padding: 10px 20px;
      color: #fff;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
      display: none;
    }
  
    .nav-dropdown a { 
      display: none;
    }
  }